<main role="main" class="container">
<% title @recipe.drinkName%>
<h1>Edit Drink Recipe for <%= @recipe.drinkName %> </h1>

<%= render 'form', recipe: @recipe %>

<p><strong><u>Ingredients</u></strong></p>   
    <% @recipe.ingredients.each do |ingredient| %>
        <p><%= ingredient.amount %> <%= ingredient.measurement%> <%= ingredient.ingredientName %> <%= link_to 'edit', edit_ingredient_path(@recipe.ingredients) %></p>
    <% end %> 

<p><%= link_to 'Add ingredient', new_ingredient_path(@recipe) %></p>
<p><%= link_to 'Back', recipe_path %></p>
<p><%= link_to 'Home', home_path %></p>

</main><!-- /.container -->