<main role="main" class="container">
  <% title @recipe.drinkName%>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
  
  <p><h2><%= @recipe.drinkName%></h2></p>
  <p><b><%= @recipe.description %></b></p>
      <% fbhref = "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.barapp.com%3A3000"+recipe_path(@recipe)  %>
      <div class="fb-share-button" 
          data-href="http://www.barapp.com:3000" 
          data-layout="button" data-size="large">
          <a target="_blank" 
            href= <%= fbhref %>%
            class="fb-xfbml-parse-ignore">Share Recipe</a>
      </div>

  <div align="center">

    <%= image_tag (@recipe.image.url(:thumb)) if @recipe.image.exists?%>
    
    <div class="d-flex justify-content-around">    
      <div class="col-auto">
        <b>Type of Drink: </b><%= @recipe.drinkType%>
      </div>
      <div class="col-auto">
        <b>Special Occasion: </b> <%= @recipe.specialDate%>
      </div>  
      <div class="col-auto">
        <b>Country: </b> <%= @recipe.drinkLocation%>
      </div>
      <div class="col-auto">  
        <b>Date Posted: </b> <%= @recipe.drinkDate%>
      </div>
    </div>
    <p><strong><u>Ingredients</u></strong></p>   
    <% @recipe.ingredients.each do |ingredient| %>
      <p><%= ingredient.amount %> <%= ingredient.measurement%> <%= ingredient.ingredientName %></p>
    <% end %>  
  </div> 

<div align="center">
     <p> <%=  link_to  'Add Review on Drink ' , new_drink_comments_path(@recipe), class:"btn btn-info btn-sm"%> </p> 
</div>

<div align="center">
  <table>
    <thead>
      <tr>
          <th>Review Comment</th>
          <th>Like Drink</th>
          <th>Review Date</th> 
          <th>           </th>              
      </tr>
    </thead>

    <tbody>
      <% @recipe_comment.reviews.each do |review|  %>
        <tr>
          <td><%=  review.comment  %></td>
          <td><%=  review.likeStatus%></td>
          <td><%=  review.reviewDate %></td>
          <td> 
            <%= link_to 'Edit', edit_drink_comment_path(review), class:"btn btn-primary btn-sm" %> 
            <%= link_to 'Destroy', drink_comment_path(review), method: :delete , class:"btn btn-danger btn-sm" %>
          </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div align="center">
  <div class="col-md-10">
    <%= link_to 'Recipe PDF', show_gen_pd_fs_path(@recipe, format: :pdf), class:"btn btn-info btn-sm" %>
    <%= link_to 'Like this Drink', new_drink_comments_path(@recipe), class:"btn btn-primary btn-sm" %>
  </div>  
  <% if (@recipe.userprofile_id == session[:current_user_id].to_i ) %>
    <div class="col-md-10"><%= link_to 'Edit Recipe' , edit_recipe_path(@recipe), class:"btn btn-primary btn-sm" %> 
      <%= link_to 'Delete Recipe', @recipe, method: :delete, data: { confirm: 'Are you sure you want to delete '+@recipe.drinkName+'?' }, class:"btn btn-danger btn-sm" %>
    </div>
  <% end %>
  <br/>
  <p><%= link_to 'Back' , list_index_path %>
</div>  

</main><!-- /.container -->