<main role="main" class="container">

  <p><h2><%= @recipe.drinkName%></h2></p>
  <p><b><%= @recipe.description %></b></p>
  <div align="center">
    <p>
      <b>Type of Drink:</b><%= @recipe.drinkType%>
    </p>
    <p>  
      <b>Special Occasion:</b> <%= @recipe.specialDate%>
    </p>
    <p>
      <b>Country:</b> <%= @recipe.drinkLocation%>
    </p>
    <p>  
      <b>Date Posted:</b> <%= @recipe.drinkDate%>
    </p>
  </div>   
  
    <% @recipe.ingredients.each do |ingredient| %>

    <p><%= ingredient.amount %> <%= ingredient.measurement%> <%= ingredient.ingredientName %></p>
    <% end %>  
  </div>  

</div align="center">   
    <% @recipe_comment.reviews.each do |review| %>

    <p align="center"> <b>Comment on Drink:</b> <%= review.comment %></p> 
    <p align="center"> <b>Do you like the Drink?:   </b> <%= review.likeStatus%><p/> 
    <p align="center"><b>Review Date: </b> <%= review.reviewDate %></p>
    <% end %>  
</div> 

<div align="center">
   <p> <%= link_to 'Edit Recipe' , edit_recipe_path(@recipe) %> </p>
   <p><%= link_to 'Delete Recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %></p>
   <p> <%= link_to 'Back' , recipes_path %>
</div>  

</main><!-- /.container -->
