<main role="main" class="container">

  <p><b><%= @recipe.drinkName%></b></p>
  <p><b>Description:</b> <%= @recipe.description %></p>
  <p><b>Special Occasion</b> <%= @recipe.specialDate%></p>
  <p><b>Country:</b> <%= @recipe.drinkLocation%></p>
  <p><b>Date Posted:</b> <%= @recipe.drinkDate%></p>
  <p>
    <%= link_to 'Edit' , edit_recipe_path(@recipe) %> 
    <%= link_to 'Back' , recipes_path %>
  </p>

</main><!-- /.container -->
