<%= form_with model: @drink_commnet, local: true do |form| %>
  <%= hidden_field_tag :recipe_id, recipe_id  %>

  <div class="field">
    <%= form.label "Comment on Recipe" %>
    <%= form.text_field :Comment , class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label "Like Recipe" %>
    <%= form.text_field :likeStatus , class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label "Date on commnet made" %>
    <%= form.text_field :reviewDate , class:'form-control' %>
  </div>
   
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>