<main role="main" class="container">
    <h1>Drink Comment</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Recipe ID</th>
                <th scope="col">likeStatus</th>
                <th scope="col">comment</th>
                <th scope="col">reviewDate</th>  
                <th scope="col"></th>          
            </tr>
        </thead>
        <tbody>
            <% @drink_comments.each do |dr_comment| %>
                <tr>
                    <td> <%= dr_comment.recipe_id %></td>
                    <td> <%= dr_comment.likeStatus %></td>
                    <td> <%= dr_comment.comment %></td>
                    <td> <%= dr_comment.reviewDate %></td>
                    <td> 
                    <%= link_to 'Show', drink_comment_path(dr_comment)%>  
                    <%= link_to 'Edit', edit_drink_comment_path(dr_comment)%> 
                    <%= link_to 'Destroy',drink_comment_path(dr_comment), method: :delete%>
                    </td> 

                </tr>
            <% end %>
        </tbody>
    </table>

    <p>
        <%= link_to 'New Drink Comment', new_drink_comment_path %>
    </p>

</main><!-- /.container -->