<% provide(:title, 'User Profile') %>

    <h1><%= @user_profile.name %> Profile </h1><br>
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-3 col-thead">Address</div>
        </div>
        <div class="row">
        <div class="col-md-3"><%= @user_profile.address %></div>        
        </div>               
        <div class="row">
        <div class="col-md-3 col-thead">City</div>
        <div class="col-md-3 col-thead">State</div>
        <div class="col-md-3 col-thead">Country</div>
        <div class="col-md-3 col-thead">Zip/Post Code</div>
        </div>
        <div class="row">
        <div class="col-md-3"><%= @user_profile.city %></div>
        <div class="col-md-3"><%= @user_profile.state %></div>
        <div class="col-md-3"><%= @user_profile.country %></div>
        <div class="col-md-3"><%= @user_profile.zipcode %></div>
        </div>
        <div class="row">
        <div class="col-md-3 col-thead">Mobile</div>
        <div class="col-md-3 col-thead">Email</div>
        <div class="col-md-3 col-thead">Business Status</div>
        <div class="col-md-3 col-thead">BarApp Role</div>
        </div>
        <div class="row">
        <div class="col-md-3"><%= @user_profile.mobile %></div>
        <div class="col-md-3"><a href="mailto:<%= @user_profile.email %>"><%= @user_profile.email %></a></div>
        <div class="col-md-3"><%= @user_profile.isBusiness %></div>
        <div class="col-md-3"><%= @user_profile.role %></div>
        </div>
     
         
	</div>

   <br>
    <p>
        <%= link_to 'Back', profile_path(@user_profile), class:"btn btn-primary" %> 
        <%= link_to 'Edit', edit_profile_path(@user_profile), class:"btn btn-primary" %> 
        <%= link_to 'Delete Profile', show_profile_path(@user_profile), method: :delete, class:"btn btn-danger" %>        
    </p>
