<main role="main" class="container">
    <h1>BarApp - List Bars</h1>
    
   <table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Bar Address</th>
            <th scope="col">Contact</th>            
            <th scope="col">Recipes</th>
        </tr>
    </thead>
    <tbody>
        <% @user_profiles.each do |user|%>
        <% if user.isBusiness %>
        <tr>
            <td><%= user.address%>,<%= user.city%>,<%= user.state%> <%= user.zipcode%></td>
            <td><%= user.mobile%></td>
            <td><% user.drinks.each do |recipe|%>
            <%= link_to recipe.drinkName, recipe_path(recipe) %><br/>
            <% end %></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
   </table>

</main>  
