<main role="main" class="container">
    <h1>BarApp - List Bars</h1>
       
   <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-thead">Bar Address</div>
            <div class="col-md-2 col-thead">Contact</div>
            <div class="col-md-2 col-thead">Recipes</div>              
        </div>
        <% @user_profiles.each do |user|%>
        <% if user.isBusiness %>
            <div class="row">
                <div class="col-md-6"><%= user.address%>,<%= user.city%>,<%= user.state%> <%= user.zipcode%></div>
                <div class="col-md-2"><%= user.mobile%></div>
                <div class="col-md-2">
                    <% user.drinks.each do |recipe|%>
                        <%= link_to recipe.drinkName, recipe_path(recipe) %><br/>
                    <% end %>
                </div>                
            </div>
        <% end %>    
        <% end %>
    </div>

</main>  
