<main role="main" class="container">
    <h1>BarApp - Index List</h1>
     <%= form_tag('/list') do %>
            <%= label_tag(:search, "Search Recipes for:") %>
            <%= text_field_tag(:search) %>
            by<%= radio_button_tag('by', 'occasion') %>Occasion
            <%= radio_button_tag('by', 'country') %>Country
            <%= radio_button_tag('by', 'ingredient') %>Ingredient
            <%= submit_tag("Search") %>
        <% end %>

        <% link_to "List By Top 10", list_top_ten_path %>
        <% link_to "List by Newest", list_new_path %>
   <table class="table table-sm">
    <thead>
            <tr>
                <th>Drink Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Special Occasion</th>
                <th>Country</th>
                <th>Date Posted</th>
            </tr>
        </thead>
        <tbody>
            <% @drinks.each do |drinks| %>
            <tr>
                <td><%= link_to drinks.drinkName, recipe_path(drinks) %></td>
                <td><%= drinks.description%></td>
                <td><%= drinks.drinkType %></td>
                <td><%= drinks.specialDate %></td>
                <td><%= drinks.drinkLocation %></td>
                <td><%= drinks.drinkDate %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

</main>  
