<main role="main" class="container">
    <h1>BarApp - Index List</h1>
    
   <table class="table table-sm">
        <thead>
            <tr>
                <th>Drink Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Special Occasion</th>
                <th>Country</th>
                <th>Date Posted</th>
            </tr>
        </thead>

        <tbody>
            <% @drinks.each do |drinks| %>
            <tr>
                <td><%= link_to drinks.drinkName, recipe_path(drinks) %></td>
                <td><%= drinks.description%></td>
                <td><%= drinks.drinkType %></td>
                <td><%= drinks.specialDate %></td>
                <td><%= drinks.drinkLocation %></td>
                <td><%= drinks.drinkDate %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

</main>  
