<main role="main" class="container">
    <h1>Master Recipe List</h1>
     <%= form_tag('/list') do %>
            <div class="row">
            <div class="col-md-4 col-thead">
            Search:
            </div>
            <div class="col-md-8 col-thead">
            By:
            </div>
            </div>
            <div class="row">
            <div class="col-md-4">
            <%= text_field_tag(:search) %>
            </div>
            <div class="col-md-7 form-check form-check-inline">
            <%= radio_button_tag('by', 'occasion') %>Occasion
            <%= radio_button_tag('by', 'country') %>Country
            <%= radio_button_tag('by', 'ingredient') %>Ingredient
            <%= submit_tag("Search",class: "btn btn-primary") %>
            </div>
            </div>
            </div>
        <% end %>
    </div>

        <% link_to "List By Top 10", list_top_ten_path %>
        <% link_to "List by Newest", list_new_path %>
    <div class="col-md-12">
        <div class="row">
                <div class="col-md-2 col-thead">Drink Name</div>
                <div class="col-md-2 col-thead">Description</div>
                <div class="col-md-2 col-thead">Type</div>
                <div class="col-md-2 col-thead">Special Occasion</div>
                <div class="col-md-2 col-thead">Country</div>
                <div class="col-md-2 col-thead">Date Posted</div>
        </div>
        <% @drinks.each do |drinks| %>
            <div class="row">
                <div class="col-md-2"><%= link_to drinks.drinkName, recipe_path(drinks) %></div>
                <div class="col-md-2"><%= drinks.description%></div>
                <div class="col-md-2"><%= drinks.drinkType %></div>
                <div class="col-md-2"><%= drinks.specialDate %></div>
                <div class="col-md-2"><%= drinks.drinkLocation %></div>
                <div class="col-md-2"><%= drinks.drinkDate %></div>
            </div>
            <% end %>
        </div>

</main>  
