<main role="main" class="container">
    <h1>BarApp - Top 10</h1>
    
   <table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Drink Name</th>
            <th scope="col">Drink Type</th>
            <th scope="col">Origin</th>
            <th scope="col">Date Added</th>
            <th scope="col">Comment Count</th>
        </tr>
    </thead>
    <tbody>
        <% @drinks.each do |drinks|%>
        <tr>
            <th scope="row"><%= drinks.image_file_name %></th>
            <th><%= drinks.drinkName %></th>
            <th><%= drinks.drinkType %></th>
            <th><%= drinks.drinkLocation %></th>
            <th><%= drinks.drinkDate %></th>
            <th><%= drinks.reviews.count %></th>

        </tr>
        <% end %>
    </tbody>
    
  

   </table>

</main>  
