<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <%= link_to 'BarApp', home_path, class:'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active_class(home_path) %>">
            <%= link_to 'Home', home_path, class:'nav-link' %>
          </li>    
          </li>

          <li class="nav-item <%= active_class(all_ingredients_path) %>">
              <%= link_to 'Ingredients', all_ingredients_path, class: 'nav-link' %>
           </li>
        <!--
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Recipes
            </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=<%= recipes_path %>>List of all Recipes</a>
            <a class="dropdown-item" href=<%= new_recipe_path %>>Add a Drink Recipe.</a>
          </div>
        </div>
        -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Lists
            </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=<%= list_new_path %>>List of New Recipes</a>
            <a class="dropdown-item" href=<%= list_index_path %>>List All Drink Recipes.</a>
          </div>
        </div>
        </ul>

        <ul class= "navbar-nav navbar-right">
        <% if $logged_in == 'true' %>          
          <li class="nav-item <%= active_class(logout_path) %>">
            <%= link_to 'LogOut' , logout_path, class:'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item <%= active_class(login_path) %>">
            <%= link_to 'Login' , login_path, class:'nav-link' %>
          </li>
          <li class="nav-item <%= active_class(new_profile_path) %>">
            <%= link_to 'SignUp' , new_profile_path, class:'nav-link' %>
          </li>
        <% end %>

        </ul>

      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <main role="main" class="container">
      <div class="starter-template">
        <%= yield %>
      </div>
    </main>
  </body>
</html>